body {
    background-image: url("img/4e682f4c1cf9bc0726b103e8f87fa6ee.gif");
    background-size: 1880px;
    background-attachment: fixed; 
    background-repeat: no-repeat;
    height: 100vh;

}

#mur {
    background-image: url("img/Abandoned_Mine_Wall_sprite_002.png");
    background-size: 200px;
    background-image: cover;
    background-repeat: no-repeat;
    z-index: 50;
    height: 267px;
    width: 200px;
}

input[type=text] {
    border-radius: 8px;
    border-color: red;
    width: 229px;
    height: 36px;
    text-align: center;
}


  #joueur1 {
    bottom: 50;
    
}

  #joueur2 {
    bottom: 30;

}

.table-inverse {
    color: #fff;
    background-color: #292b2c;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}

#block {
    display: flex;
    width: 1014px;
    height: 724px;
    justify-content: space-around;
    flex-direction: column;
}

#img {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 1014px;
    align-items: flex-end;
    height: 593px;
        
}
#bouton {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.btn-groupg {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    margin-left: 151px;
}

#btn1 {
    background-color: red;
    color: white;
    border-radius: 45%;   
}

#btn2 {
    background-color: rgba(12, 233, 30, 0.76);
    color: white;
    border-radius: 45%;
}

#btn3 {
    background-color: rgba(11, 69, 80, 0.952);
    color: white;
    border-radius: 45%;   
}

#btn4 {
    background-color: red;
    color: white;
    border-radius: 45%;
}

#btn5 {
    background-color: rgba(12, 233, 30, 0.76);
    color: white;
    border-radius: 45%;
}
#btn6 {
    background-color: rgba(11, 69, 80, 0.952);
    color: white;
    border-radius: 45%;
}